/*//refactorez this 

.notifications {

	padding: 0;
	margin:0;

	.dropdown-heading {
		margin: 0
	}
	@media (min-width: $screen-sm) {
		width: 280px;
	}
	li {
		border-bottom: 1px solid $navbar-default-border;

		&.media {
			padding: 5px;
			margin:0;
			display: block;
			color: $navbar-default-color;
			&:hover {
				background: $navbar-default-link-hover-bg;
			}
			.media-object {
				width: 30px;
				border-radius: 50%;
			}
			a {
				padding: 0;
				border-top: 0;
			}
			.media-body {
				margin-right: 2px;
				.media-heading {
					margin-left: 0;
					margin-bottom: 0;
					line-height: 20px;
					font-weight: bold;
					color: darken($navbar-default-color, 8%);
				}
				p {
					font-size: 13px;
				}
			}
		}
		&:last-of-type {
			border: none;
		}
	}

}*/