html {
	line-height: $font-size-base;
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
}

body {
	line-height: 1.53rem;
	font-size: 1rem;
}

.text-h1 {
	font-size: $font-size-h1;
}
.text-h2 {
	font-size: $font-size-h2;
}
.text-h3 {
	font-size: $font-size-h3;
}
.text-h4 {
	font-size: $font-size-h4;
}
.text-h5 {
	font-size: $font-size-h5;
}

.text-default {
	color: $grey-600;
}

.text-primary {
	color: $brand-primary;
}