@import "../mixins/sidebar/theme";

.sidebar-brand {
	padding: 0 10px;
	font-weight: 500;
	font-size: 18px;
	display: block;
	&, &:hover {
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}
}
.sidebar {
	@include sidebar-brand-variant();
}