.carousel-controls-circle .carousel-control {
	background: none;
	filter: none;
	> span {
		width: 60px;
		height: 60px;
		margin-top: -30px;
		background: #222;
		line-height: 60px;
		border-radius: 100%;
	}
}