@import "../mixins/mprogress";

// layout
.mprogress {
	height: $progress-bar-height;
	margin-bottom: $line-height-computed;
	&:last-child {
		margin-bottom: 0;
	}
	.ui-mprogress {
		.deter-bar,
		.indeter-bar,
		.query-bar,
		.bar-bg,
		.buffer-bg,
		.mp-ui-dashed,
		.mp-ui-dashed:before {
			height: $progress-bar-height;
		}
	}
}
// mini progress bars
.mprogress.mprogress-mini {
	height: $progress-bar-mini-height;
	.ui-mprogress {
		.deter-bar,
		.indeter-bar,
		.query-bar,
		.bar-bg,
		.buffer-bg,
		.mp-ui-dashed,
		.mp-ui-dashed:before {
			height: $progress-bar-mini-height;
		}
	}
}
// styling
.mprogress {
	.ui-mprogress {
		.bar-bg {
			background: #f5f5f5;
		}
		.mp-ui-dashed:before {
			background: radial-gradient($grey-300 0%, $grey-300 16%, transparent 42%)
		}
		.indeter-bar {
			transform-origin: center center;
			animation: indeterminate-loop 1.5s ease-in infinite;
		}
	}
	.ui-mprogress {
		@include mprogress-variant($progress-bar-default-bg);
	}
	&.mprogress-success .ui-mprogress {
		@include mprogress-variant($progress-bar-success-bg, 30%);
	}
	&.mprogress-warning .ui-mprogress {
		@include mprogress-variant($progress-bar-warning-bg, 30%);
	}
	&.mprogress-danger .ui-mprogress {
		@include mprogress-variant($progress-bar-danger-bg);
	}
}

@keyframes indeterminate-loop {
	0% {
		transform: translate(-50%) scaleX(0);
	}
	50% {
		transform: translate(0%) scaleX(0.9);
	}
	100% {
		transform: translate(50%) scaleX(0);
	}
}