.footer {
	text-align: center;
	color: #888;
	font-weight: 500;
	background: #fff;
	height: $footer-height;
	line-height: $footer-height;
	display: block;
	.container-fluid & {
		margin: 0 -$grid-gutter-width/2;
	}
	[class*="bottom-footer"] & {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		box-shadow: 0 -3px 5px -3px rgba($black, 0.15);
		z-index: 1000;
	}
}
body {
	.ls-bottom-footer & {
		padding-bottom: $footer-height + $grid-gutter-width/2;
	}
	.bottom-footer & {
		padding-bottom: $footer-height;
	}
}
@media (max-width: $screen-xs-max) {
	[class*="bottom-footer"] {
		body {
			padding-bottom: 0;
		}
		.footer {
			position: relative;
		}
	}
}