@import "../mixins/_breakpoints";

.navbar-content {
	@include media-breakpoint-up(sm) {
		&[class*="top-navbar"] > .sidebar {
			top: 0;
		}
		&.sh-si {
			@each $index in map-keys($sidebar-sizes) {
				$size: map-get($sidebar-sizes, $index);
				@each $d, $direction in (l: left, r: right) {
					&[class*="si-#{$d}#{$index}"] > .navbar {
						#{$direction}: $size;
					}
				}
			}
		}
		.navbar > .container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
	}

	// layout transitions
	> .st-co {
		padding-top: 0 !important;
	}
	&.sh-si[class*="st-effect"] > .st-pu > .st-cnt > .la-cnt > .navbar {
		left: 0;
		right: 0;
	}

	// fixed=top
	&[class*="top-navbar"] > .st-co {
		> .st-pu > .st-cnt > .la-cnt {
			padding-top: $navbar-height;
		}
		> .sidebar,
		> .st-pu > .sidebar {
			top: 0;
		}
	}
	&[class*="ls-top-navbar"] > .st-co > .st-pu > .st-cnt > .la-cnt {
		padding-top: $navbar-height + ($grid-gutter-width/2);
	}

	// $TODO: add support for fixed=bottom
}