@import "../mixins/sidebar/layout";
@import "../mixins/sidebar/theme";
@import "../mixins/_breakpoints";

// GENERAL
.sidebar {
	position: absolute;
	bottom: 0;
	z-index: 3;
	display: none;
	top: 0;
	// theme
	@include sidebar-variant();
	@each $direction in (left, right) {
		&.#{$direction} {
			#{$direction}: 0;
		}
	}
}

// ANY SCREEN SIZE
@include make-sidebars();

// BREAKPOINTS
@each $breakpoint in map-keys($grid-breakpoints) {
	// specific
	@include media-breakpoint-only($breakpoint) {
		@include make-sidebars($breakpoint);
	}
	// larger
	@include media-breakpoint-up($breakpoint) {
		// visibility	
		.sh-si > .si-vi-#{$breakpoint}-up,
		.sh-si > .st-co > .si-vi-#{$breakpoint}-up,
		.sh-si > .st-co > .st-pu > .si-vi-#{$breakpoint}-up {
			display: block;
		}
	}
}

// NAVBAR MODIFIERS
.sidebar {
	[class*="top-navbar"] > &,
	[class*="top-navbar"] > .st-co > & {
		top: $navbar-height;
	}
	[class*="top-navbar-large"] > &,
	[class*="top-navbar-large"] > .st-co > & {
		top: $navbar-height;
		@media (min-width: $navbar-large-breakpoint) {
			top: $navbar-large-height;
		}
	}
	[class*="top-navbar-xlarge"] > &,
	[class*="top-navbar-xlarge"] > .st-co > & {
		top: $navbar-height;
		@media (min-width: $navbar-large-breakpoint) {
			top: $navbar-xlarge-height;
		}
	}
}

// ONLY MOBILE
@include media-breakpoint-only(xs) {
	// reset .si-si-1
	.si-si-1,
	.si-si-xs-1 {
		width: 100%;
	}
	// reset content margins for .si-si-1
	// override .si-[l|r]1-xs
	@each $d, $direction in (l: left, r: right) {
		.sh-si.si-#{$d}1-xs & {
			margin-#{$direction}: 0;
		}
	}
	// Prevent page scroll under the sidebar
	.sh-si {
		position: relative;
		overflow: hidden;
	}
}