@mixin sidebar-sizes($breakpoint: '') {
	@if $breakpoint != '' {
		$breakpoint: -#{$breakpoint};
	}
	// fixed sizes
	@each $index in map-keys($sidebar-sizes) {
		$size: map-get($sidebar-sizes, $index);
		// size
		.si-si#{$breakpoint}-#{$index} {
			width: $size;
		}
		// directions
		@each $d, $direction in (l: left, r: right) {
			// offset
			.sidebar.#{$direction}.si-of#{$breakpoint}-#{$index} {
				#{$direction}: $size;
			}
			// content margins
			.la-cnt,
			.st-co > .st-pu > .st-cnt > .la-cnt {
				.sh-si.si-#{$d}#{$index}#{$breakpoint} > & {
					margin-#{$direction}: $size;
				}
			}
			// sum sidebars
			@each $sIndex in map-keys($sidebar-sizes) {
				$sValue: map-get($sidebar-sizes, $sIndex);
				.la-co,
				.st-co > .st-pu > .st-cnt > .la-cnt {
					.sh-si.si-#{$d}-sum#{$breakpoint}-#{$index}#{$sIndex} > & {
						margin-#{$direction}: ($size + $sValue);
					}
				}
			}
		}
	}
}
@mixin sidebar-percent($breakpoint: '') {
	@if $breakpoint != '' {
		$breakpoint: -#{$breakpoint};
	}
	// percentage
	@for $percent from $sidebar-percent-from through $sidebar-percent-through {
		$percent: $percent * $sidebar-percent-step;
		// size
		.si-si#{$breakpoint}-#{$percent}pc {
			width: round(percentage($percent / 100));
		}
		// content margins
		@each $d, $direction in (l: left, r: right) {
			.la-cnt,
			.st-co > .st-pu > .st-cnt > .la-cnt {
				.sh-si.si-#{$d}-#{$percent}pc#{$breakpoint} > & {
					margin-#{$direction}: round(percentage($percent / 100));
				}
			}
		}
	}
}
@mixin sidebar-visibility($breakpoint: '') {
	@if $breakpoint != '' {
		$breakpoint: -#{$breakpoint};
	}
	// visibility
	.sh-si > .si-vi#{$breakpoint},
	.sh-si > .st-co > .si-vi#{$breakpoint},
	.sh-si > .st-co > .st-pu > .si-vi#{$breakpoint} {
		display: block;
	}
}
@mixin sidebar-offset($breakpoint: '') {
	@if $breakpoint != '' {
		$breakpoint: -#{$breakpoint};
	}
	// offset 0
	@each $direction in (left, right) {
		.sidebar.#{$direction}.si-of#{$breakpoint}-0 {
			#{$direction}: 0;
		}
	}
}
@mixin make-sidebars($breakpoint: '') {
	// sizes
	@include sidebar-sizes($breakpoint);
	// percentage
	@include sidebar-percent($breakpoint);
	// visibility
	@include sidebar-visibility($breakpoint);
	// offset
	@include sidebar-offset($breakpoint);
}